html {
  position: relative;
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.ttf"); /* IE9 Compat Modes */
}
.rtl {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}
.container {
  // max-width: 1200px;
}
.sect {
  // background: url(/banner/bg.jpg) top center;
  background: radial-gradient(
    33.89% 141.39% at 71.11% 57.94%,
    #7626d3 0%,
    #10054d 100%
  );
  padding-bottom: 150px;
  color: #fff;
  background-size: cover;
  position: relative;
  margin-bottom: -100px;
}

#features {
  .icon-box {
    text-align: left;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px #d2dadf !important;
    padding: 30px 30px;
    width: 100%;
    height: auto;
    h4 {
      font-family: "Poppins", sans-serif;
      font-style: "normal";
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
    }
    .security {
      width: 90px;
      height: 90px;
      left: 165px;
      top: 704px;
      background: #133f95;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .freedom {
      width: 90px;
      height: 90px;
      left: 165px;
      top: 704px;
      background: #2cbbc7;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .speed {
      width: 90px;
      height: 90px;
      left: 165px;
      top: 704px;
      background: #faad53;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#about {
  .mcf {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
  }
  .mcf-content {
    font-family: "Proxima Nova Regular";
    font-weight: 400;
    font-size: 16px;
  }
}
#works {
  position: relative;
  margin: 0;
  width: 100%;
  // height: 1200px;
  height: 1600px;
  padding-bottom: 40px;
  background: url(/back.png) no-repeat center;
  background-size: contain;
  h4 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
  }
  // background-size: cover;
  .box1,
  .box2,
  .box3,
  .box4 {
    height: 405px !important;
    padding: 0;
    // margin: 0 auto;
    h4 {
      font-family: "Poppins", sans-serif;
      font-size: 24px !important;
      font-style: normal;
    }
    .icon-box-content {
      font-family: "Proxima Nova Regular";
      font-size: 16px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .box1 {
    // position: absolute;
    text-align: left;
    border-radius: 20px;
    background: #fff;
    // box-shadow: 0px 2px 15px;
    margin-left: 10px;
    border: 1px dotted #133f95;
    padding: 30px 30px;
    width: 54%;
    // height: 270px;
    .security {
      width: 60px;
      height: 60px;
      left: 165px;
      top: 704px;
      background: #133f95;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .box2 {
    position: absolute;
    margin: -80px 0 0 470px;
    z-index: 999;
    text-align: left;
    border-radius: 20px;
    border: 1px dotted #133f95;
    background-color: #fff;
    padding: 30px 30px;
    width: 54%;
    // height: 270px;
    .security {
      width: 60px;
      height: 60px;
      left: 165px;
      top: 704px;
      // background: #133f95;
      background: #2cbbc7;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .box3 {
    position: absolute;
    margin: 250px 0 0 0px;
    z-index: -999;
    text-align: left;
    border-radius: 20px;
    background: #fff;
    // box-shadow: 0px 2px 15px;
    border: 1px dotted #133f95;
    padding: 30px 30px;
    width: 55%;
    height: 270px;
    .speed {
      width: 60px;
      height: 60px;
      left: 165px;
      top: 704px;
      // background: #133f95;
      background: #faad53;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .box4 {
    // position: absolute;
    margin: 50% 0 0 470px;
    // z-index: 999;
    text-align: left;
    border-radius: 20px;
    background: #fff;
    // box-shadow: 0px 2px 15px;
    border: 1px dotted #133f95;
    padding: 30px 30px;
    width: 54%;
    // height: 270px;
    .security {
      width: 60px;
      height: 60px;
      left: 165px;
      top: 704px;
      // background: #133f95;
      background: #b647dd;
      // box-shadow: 0px 8px 16px rgb(19 63 149 / 25%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .container {
    // width: 200px;
    // height: 200px;
    // position: relative;
    // margin: 20px;
  }
  .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; /* for demo purpose  */
  }
  .stack-top {
    z-index: 9;
    margin: 20px; /* for demo purpose  */
  }
}
.faq-container {
  // background: linear-gradient(103.48deg, #7626D3 0%, #430772 100%);
  // position: relative;
  margin: 0 auto;
  width: 100%;

  height: 1172px;
  // height: 1600px;
  // padding-bottom: 40px;
  background: url(/faq-bg.png) no-repeat center;
  background-size: cover;
  // background-size: contain;
  // height: 1600px;
  // background-Size: contain;
  // padding: 30px;
  width: 100%;
  #faq {
    .row-title-text {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
    }
    h4 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
    }
    color: white;
    // padding-top: 0px;
    height: auto h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 36px;
    }
    .faq-row-wrapper {
      background: transparent;
      margin-top: 50px;
    }
    .faq-row {
      padding: 3px 15px;
      margin-bottom: 24px;
      background: white;
      border-radius: 5px;
    }
    .row-content-text {
      font-family:"Proxima Nova Regular";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

      border-top: 1px solid #e3decf;
      margin-top: 5px;
      padding: 20px 0px;
      color: #7f8385;
      
    }
  }
}
.ltr {
  // height: 100vh;
  // min-height: 100%;
  // background: url(/banner/bg.jpg) top center;

  width: 100%;
  // height: 90vh;
  // background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
  position: relative;
  margin-bottom: -200px;
  // background: url(/bg.png) no-repeat 0  0;
  color: #fff;
  @media (max-width: 414px) {
    width: 100%;
    height: 760px;
  }
}
