header {
  // background-color: #0A1D5C;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
.top__section {
  .btn-dark,
  .lang__select button {
    background-color: #150348 !important;
    border-radius: 20px !important;
    width: 150px;
    height: 40px;
    // padding: 10px;
    // height: 0px;
    color: #fff;
    font-size: 14px !important;
    font-weight: 500;
    border-color: #150348;
  }
  .lang__select {
    button {
      padding: 0 28px;
      span {
        padding: 0;
        margin: 0;
        white-space: initial;
        .ReactFlagsSelect-module_selectFlag__2q5gC {
          margin-right: 5px;
          // svg {
          //   margin: 0;
          //   width: 1.5em;
          //   height: 1.5em;
          // }
        }
      }
    }
    ul {
      display: block;
      width: 100%;
      margin: 2px 0 0;
      background-color: #181948;
      border: 0;
      li {
        margin: 0;
      }
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  .header-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  ul {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    // margin: 0 auto;
    padding: 0;
    margin: unset;
    // justify-content: space-between;
    li {
      list-style: none;
      // width: 20%;
      margin-right: 20px;
      a {
        text-decoration: none;
        // text-transform: uppercase;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
      a:active {
        text-decoration: underline;
      }
    }
  }
  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #f3f2f2;
    border-radius: 10px;
    height: 35px;
    border: 1px solid #868585;
    width: 140px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
  .right__sub--section {
    display: flex;
    column-gap: 25px;
    font-weight: 600;
    a {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
    .profile__icon--btn {
      border: 0;
      background: transparent;
      .MuiAvatar-root {
        width: 50px;
        height: 50px;
      }
    }
    .profile__icon--btn::after {
      display: none;
    }
    .user__info__section {
      display: flex;
      flex-direction: column;
      padding: 5px 23px 5px;
      .user__name {
        text-transform: capitalize;
      }
      .user__mail {
        font-size: 12px;
        font-weight: initial;
        opacity: 0.6;
      }
    }
    .dropdown-item {
      font-size: 14px;
      color: #4a4a4a;
      text-transform: initial;
      font-weight: initial;
      cursor: pointer;
      .svg-inline--fa {
        color: #4a4a4a !important;
        margin-right: 8px;
      }
    }
    .show {
      .btn-primary.dropdown-toggle {
        background-color: transparent;
        border: 0;
      }
      .btn-primary.dropdown-toggle:focus {
        box-shadow: none;
      }
    }
    .btn-primary {
      all: unset;
    }
    .btn-primary:active {
      box-shadow: none !important;
      background-color: transparent !important;
    }
    .btn-primary:focus,
    .btn-primary.focus {
      box-shadow: none;
      background-color: transparent;
    }
    .dropdown-item.active,
    .dropdown-item:active {
      background-color: transparent;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: #e8e8e8 !important;
    }
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    .company-logo {
      width: 145px;
      // height: 50px;
    }
  }
  svg {
    margin-right: 5px;
  }
}
.middle__section {
  .company__logo {
    width: 50%;
    margin: 0 auto;
    img {
      display: flex;
    }
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }
}
.bottom__section {
  margin: 50px 0;
  ul {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    // justify-content: space-between;
    li {
      list-style: none;
      width: 30%;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #333;
        font-weight: 600;
        font-size: 14px;
      }
      a:active {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 480px) {
    ul {
      width: 100%;
    }
    a {
      font-size: 13px;
    }
  }
  @media screen and (min-width: 530px) {
    ul {
      width: 80%;
    }
  }
  @media screen and (min-width: 930px) {
    ul {
      width: 100%;
    }
  }
}
#main {
  margin: 50px 0;
}

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
  border-radius: 6px;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
  display: block;
}

#main #faq .card .card-header .btn-header-link {
  // color: #fff;
  display: block;
  text-align: left;
  // background: #FFE472;
  color: #222;
  padding: 20px;
}



#main #faq .card .card-header .btn-header-link:after {
  content: "\f106";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
  color: rgba(127, 131, 133, 1);
}


// #main #faq .card .card-header .btn-header-link.collapsed {
//   background: #A541BB;
//   color: #fff;
// }

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f107";
}

#main #faq .card .collapsing {
  // background: #FFE472;
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: white;
  line-height: 30px;
  color: #222;
}

hr {
  width: 83%;
  margin-top: 345px;
  background: white;
  box-shadow: 5px 10px 8px black;
}