.footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
  text-align: center;
  // z-index: 10;
  a {
    color: #218cff;
  }
  .footer__top__section {
    background-color: #292929;
    padding: 7px;
    font-size: 12px;
    .contact__footer {
      color: #fff;
      .contact__email {
        margin-left: 5px;
      }
    }
  }
  .footer__bottom__section {
    i {
      font-size: 25px;
      margin-right: 10px;
    }
    // .container {
      .footer-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid rgba(57, 7, 99, 1);
      }
    // }
    // background: #0A1D5C;
    // background: linear-gradient(103.48deg, #7626D3 0%, #430772 100%);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: 100%;
    color: white;
    text-align: left;
  }
}
